<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form method='POST'> 
        
        <label>Name:</label><br>
        <input type="text" name="name"><br><br>

        <label>Email:</label><br>
        <input type="number" name="age"><br><br>

        <label>Password:</label><br>
        <input type="text" name="subject"><br><br>


        <input type="submit" value="Submit">
    </form>
</body>
</html>